<div *ngIf="gameInProgress;then gameRows else gameMenu"></div>

<ng-template #gameRows>
    <div class="container">
        <game-row *ngFor="let rowNum of rowNumbers"
                  [isCenter]="rowNum === 1"
                  [rowNumber]="rowNum">"
        </game-row>
        <div *ngIf="gameOver">
            <button class="btn btn-default" (click)="restartGame()">Play Again!</button>
            <button class="btn btn-default" (click)="backToMenu()">Back to Menu</button>
        </div>
    </div>
</ng-template>

<ng-template #gameMenu>
    <game-start-menu></game-start-menu>
</ng-template>
